@media (max-width:1260px) {
    .main-1 {
        background-image: url('assets/bg-1-mobile.webp');
    }
    
    .main-1-largura,
    .main-1-largura-main-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .img-cs {
        width: 30%;
        display: flex;
        padding-bottom: 20px;
    }
    
    .p-1-main-6 {
        text-align: center;
    }
}
@media (max-width: 800px) {
    .main-1 {
        background-image: url('assets/bg-1-mobile.webp');
    }

    .main-1-largura,
    .main-1-largura-main-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .main-1-largura-main-3,
    .p-1-main-4,
    .p-2-main-4 {
        padding: 0px;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .div-2-main-1 {
        margin-right: 0px;
    }

    .div-1-main-1 {
        text-align: center;
    }

    .div-img {
        padding-top: 10px;
    }

    .botao {
        width: 70%;
    }

    .botao p {
        font-size: 12px;
    }

    .img-cs {
        width: 60%;
        display: flex;
        margin: 0 auto;
    }

    .main-2-largura {
        padding: 10px;
    }

    .p-1-main-1,
    .p-2-main-1 {
        max-width: 100%;
        padding: 10px;
    }

    .div-video,
    .div-video-contrario {
        padding: 10px;
    }

    .p-4-main-3 {
        padding: 10px;
    }

    .img-rodolfo-main-5 {
        padding-bottom: 20px;
        max-width: 300px;
    }

    .div-video,
    .div-video-contrario {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rodolfo-main-6,
    .main-8 img {
        max-width: 300px;
    }

    .div-4-main-6-icones {
        padding-left: 0;
    }

    .div-4-main-6-icones img,
    .p-1-main-6,
    .p-2-main-6,
    .div-checks {
        margin-left: 0;
        padding-left: 0;

    }
}

@media (max-width:714px) {

    .div-3-main-6,
    .div-3-main-6-ultimo,
    .div-3-main-6-ultimo-carreira,
    .div-4-main-6-icones {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .div-checks {
        justify-content: center;
        align-content: center;
    }

    .div-centro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bg-main-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-2-main-2,
    .div-2-main-2-parte-2 {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }
    .img-cs {
        width: 40%;
        display: flex;
        padding-bottom: 20px;
    }

}
@media (max-width:400px) {
    .video iframe {
        height: 200px;
    }
}